aiohttp==3.9.3
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.3.0
appnope==0.1.4
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
backoff==2.2.1
boilerpy3==1.0.7
boto3==1.34.117
botocore==1.34.117
bytecode==0.15.1
cattrs==23.2.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
cohere==5.5.4
cohere-haystack==1.1.0
comm==0.2.2
datasets==2.18.0
ddsketch==2.0.4
ddtrace==2.7.5
debugpy==1.8.1
decorator==5.1.1
Deprecated==1.2.14
dill==0.3.8
distro==1.9.0
envier==0.5.1
exceptiongroup==1.2.0
executing==2.0.1
fastapi==0.110.1
fastavro==1.9.4
filelock==3.13.1
frozenlist==1.4.1
fsspec==2024.2.0
googleapis-common-protos==1.63.0
grpcio==1.64.0
grpcio-tools==1.64.0
h11==0.14.0
h2==4.1.0
hayhooks==0.0.15
haystack-ai==2.1.2
haystack-bm25==1.0.2
hpack==4.0.0
httpcore==1.0.4
httpx==0.27.0
httpx-sse==0.4.0
huggingface-hub==0.21.4
hyperframe==6.0.1
idna==3.7
importlib_metadata==7.0.2
ipykernel==6.29.3
ipython==8.18.1
jedi==0.19.1
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.3.2
jupyter_client==8.6.1
jupyter_core==5.7.2
langfuse==2.30.0
langfuse-haystack==0.0.4
lazy-imports==0.3.1
MarkupSafe==2.1.5
matplotlib-inline==0.1.6
monotonic==1.6
more-itertools==10.2.0
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
nest-asyncio==1.6.0
networkx==3.2.1
numpy==1.26.4
openai==1.13.3
opentelemetry-api==1.16.0
opentelemetry-exporter-otlp==1.16.0
opentelemetry-exporter-otlp-proto-common==1.24.0
opentelemetry-exporter-otlp-proto-grpc==1.16.0
opentelemetry-exporter-otlp-proto-http==1.16.0
opentelemetry-proto==1.16.0
opentelemetry-sdk==1.16.0
opentelemetry-semantic-conventions==0.37b0
packaging==23.2
pandas==2.2.1
parso==0.8.3
pexpect==4.9.0
pillow==10.2.0
platformdirs==4.2.0
portalocker==2.8.2
posthog==3.5.0
prompt-toolkit==3.0.43
protobuf==5.27.0
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==15.0.1
pyarrow-hotfix==0.6
pydantic==2.6.4
pydantic_core==2.16.3
Pygments==2.17.2
python-dateutil==2.9.0.post0
python-multipart==0.0.9
pytz==2024.1
PyYAML==6.0.1
pyzmq==25.1.2
qdrant-client==1.9.1
qdrant-haystack==3.7.0
regex==2023.12.25
requests==2.31.0
s3transfer==0.10.1
safetensors==0.4.2
scikit-learn==1.4.1.post1
scipy==1.12.0
sentence-transformers==2.5.1
six==1.16.0
sniffio==1.3.1
sqlparse==0.4.4
stack-data==0.6.3
starlette==0.37.2
structlog==24.1.0
sympy==1.12
tenacity==8.2.3
threadpoolctl==3.3.0
tokenizers==0.15.2
torch==2.2.1
tornado==6.4
tqdm==4.66.2
traitlets==5.14.2
transformers==4.38.2
types-requests==2.31.0.6
types-urllib3==1.26.25.14
typing_extensions==4.10.0
tzdata==2024.1
urllib3==1.26.18
uvicorn==0.29.0
wcwidth==0.2.13
wrapt==1.16.0
xmltodict==0.13.0
xxhash==3.4.1
yarl==1.9.4
zipp==3.17.0
